@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

button{
    cursor: pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

a{
    color: #fff;
    text-decoration: none;
}

body{
    -webkit-font-smoothing: none;
}

.sky-background{
    height: 2370px;
    background: linear-gradient(174deg, #1B53A8 10.41%, #214881 23.98%, #214881 41.98%, #ffffff 60.98%, #ffffff 88.4%);
    z-index: 1;
}
.sky-background::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 2619px;
    background: url("public/images/noiseEffect.png");
    background-size: 900px;
    z-index: 10;
}



.container{
    max-width: 100%;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border: 2px #000000 solid;
}
.header{
    height: 142px;
}
.header .header-inside{
    display: flex;
    flex-direction: column;
}

.header .header-inside .logo{
    display: flex;
    justify-content: center;
    height: 84px;
    z-index: 100;
    
    
}
.logo img{
    
}

.header .header-inside img{
    width: 65px;
    height: auto;
}

.header .header-inside nav{
    display: flex;  
    justify-content: center;
    z-index: 100;
    margin-left: 88px;
}

.header .header-inside .nav{
    width: 436px;
    height: 56px;
    background-color: white;
    border-radius: 80px;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(7px 10px 4.5px rgba(0, 0, 0, 0.25));
}

.header .header-inside .nav .nav-element{  
    color: #000;
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px;
    text-shadow: 2px 3px 4.5px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    
    transition-property: transform, padding-left;
    transition-duration: .1s, .3s;
}

.header .header-inside .nav .nav-element:hover{  
    transform: scale(1.05);

}

.header .header-inside .nav #nav-home{
    margin-left: 5px;
}
.header .header-inside .nav #nav-contacts{
    margin-right: 5px;
}

.header .header-inside .nav .selected{
    background-color: #F48A4F;
    border-radius: 48px;
    padding: 9px;
    filter: drop-shadow(2px 1px 4.5px rgba(0, 0, 0, 0.2));
    color: #fff;
}

.header .header-inside nav .theme{
    width: 56px;
    height: 28px;
    border: 0;
    border-radius: 48px;
    margin-left: 64px;
    background-color: #ffffff;
    filter: drop-shadow(7px 10px 4.5px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    align-self: center;
}

.header .header-inside nav .theme .theme-button{
    width: 23px;
    height: 23px;
    background-color: #F48A4F;
    border-radius: 100%;
    border: 0;
    margin-left: 3px;
    transition: transform, .2s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: scale(1), translate(0);
    filter: drop-shadow(2px 1px 4.5px rgba(0, 0, 0, .25));
}

.header .header-inside nav .theme img{
    width: 22px;
    height: 22px;
    padding-left: 6px;
}

.header .header-inside nav .theme .sun:hover{
   transform: scale(1.1);
}

.header .header-inside nav .theme .dark{
    position: absolute;
    width: 22px;
    height: 22px;
}

.header .header-inside nav .theme .moon{
    transform: translate(27px);
}

.header .header-inside nav .theme .moon:hover{
    transform: scale(1.1) translate(27px);
    margin: 0;
}

.header .header-inside nav .theme .discription{
    width: 120px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    top: -48px;
    left: -32px;
    border-radius: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .header-inside nav .theme .discription p{
    color: #000;
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px;
    text-shadow: 2px 3px 4.5px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.header .header-inside nav .languages {
    width: 56px;
    height: 28px;
    border: 0;
    border-radius: 48px;
    margin-left: 64px;
    background-color: #ffffff;
    filter: drop-shadow(7px 10px 4.5px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.header .header-inside nav .languages button{
    width: 22px;
    height: 22px;
    background: none;
    border: 0;
    filter: drop-shadow(1px 1px 4.5px rgba(0, 0, 0,.2));
    transition: transform, .2s;
}

.header .header-inside nav .languages button:hover{
    transform: scale(1.1);  
}

.header .header-inside nav .languages img{
    width: 22px;
    height: 22px;
    filter: drop-shadow(2px 1px 4.5px rgba(0, 0, 0,.3));
}


.hero{
    height: 550px;
    margin-top: 58px;
}

.hero .hero-inside{
    height: 100%;
    display: flex;
    flex-direction: column;

}

.hero .hero-inside h1{
    color: #FFF;
    font-family: "Maven Pro", sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 150px */
    letter-spacing: -3px;
    position: relative;
    z-index: 100;
}

.hero .hero-inside .mail-me{
    margin-top: 50px;
    
}

.hero .hero-inside h4{
    color: #FFF;
    font-family: "Maven Pro", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0.24px;
    position: relative;
    z-index: 100;
}

.hero .hero-inside h4 img{
    color: #FFF;
    width: 20px;
    height: 20px;
}

.hero .hero-inside .contact-me{
    margin-top: 25px;
}

.hero .hero-inside p{
    color:#FFF;
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28    px */
    letter-spacing: -0.2px;
    position: relative;
    z-index: 100; 
}
.hero .hero-inside p a{
    color:#FFF;
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;  /* 28px */
    letter-spacing: -0.2px;
    position: relative;
    z-index: 100; 
    text-decoration: none;
}

.projects{
    height: 1620px;
    position: relative;
}
.projects .glass{
    width: 100%;
    height: 100%;
    background: linear-gradient(113deg, rgba(188, 188, 188, 0.12) 0%, rgba(155, 155, 155, 0.13) 92.87%);
    backdrop-filter: blur(15px);
    position: absolute;
    z-index: 99;
}

.cloud{
    max-width: 100%;
    width: 100%;
    height: 1079px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 4;
    top: -18vw;
    
    left: 0;
}
.cloud img{
    width: 100%;
}

.white-background{
    width: 100%;
    height: 1550px;
    background: linear-gradient(#ffffff00, #fff 15%);
    position: absolute;
    bottom: 0;
}

.projects .projects-inside{
    position: relative;
    margin-top: 116px;
    z-index: 100;
}

.projects .projects-inside h2{
    color: #083775;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Maven Pro", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
    
}

.projects .projects-inside p{
    color: #750808;
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
    letter-spacing: -0.2px;
    position: relative;
    z-index: 100; 
    width: 520px;
    margin-top: 25px;
}

.projects .projects-inside .project{
    height: 120px;
    background-color: #000;
    z-index: 100;
}

.links-background{
    height: 249px;
    background: linear-gradient(#083775, #194383);
    z-index: 1;
    
}
.links-background::before{
    content: "";
    height: 249px;
    background: url("public/images/noiseEffect.png");
    background-size: 900px;
    z-index: 10;    
}

.links-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 249px;
}

.links-inside a{
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Maven Pro";
    font-size: 105px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 110px */
    letter-spacing: -2px;
    z-index: 100;
    margin: auto 0;
    text-shadow: 7px 10px 4.5px rgba(0, 0, 0, 0.1);
}

.contact-me{
    height: 750px;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.contact-me .contact-me-inside{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact-me .contact-me-inside h2{
    color: #091C37;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Display/XL */
    font-family: "Maven Pro";
    font-size: 140px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 154px */
    letter-spacing: -2.8px;
}

.contact-me .contact-me-inside button{
    display: flex;
    width: 262px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #F48A4F;
    border: 0;
    border-radius: 144px;
    margin-top: 70px;

    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading/H5 */
    font-family: "Maven Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
    letter-spacing: -0.2px;
}

footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-inside .footer-links{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.footer-inside a{
    color: #091C37;
    font-family: "Maven Pro", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.14px;
}